/* ------ CSS Reset ------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------- */

/* ------ Mobile------ */



html,body {
    
    font-family: 'Inter', sans-serif;
}

button {
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    transition: linear 0.5s;
    
}

button:hover {
    background-color: #002d80;
    color: #eeeeee;
}



.apod-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
}

.overlay-image {
    max-width: 90%;
    max-height: 80%;
    border: 2px solid #eeeeee;
    border-radius: 8px;
}

#apod-overlay.show {
    opacity: 1;
    visibility: visible;
}

h2 {
    font-size: 2rem;
    font-style: bold
;
}

.content-img {
    max-width: 100%;
    grid-area: image;
    cursor: pointer;
}

.content-button {
    margin: 1rem 0;
}

.content-date {
  
    margin: 1rem 0;
}


.fav-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 8px;
    margin: 1rem 0;
}

.fav-img {
    max-width: 100%;
}

.fav-text {
    margin-left: 1rem;
}

.fav-date {

    margin: 1rem 0;
}

.fav-button {
    background-color: #ff000d;
    margin-top: auto;
}

.fav-button:hover {
    background-color: #53010f;
}



/* ------ Tablet Styles ------ */

@media screen and (min-width: 640px) {

    section {
        margin: 2rem ;
      
        border-radius: 1rem;
        padding: 1rem;
    }

    .fav-header {
        font-size: 1rem;
    }
    
}

/* ------ Desktop Styles ------ */

@media screen and (min-width: 940px) {

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 15rem;
    }

    .apod-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "image text";
        margin-top: 1.5rem;
    }

    .content-text {
        grid-area: text;
        margin-left: 1rem;
        line-height: 1.25;
    }

  

    .fav-text {
        grid-column: 2 / 4;
    }

    .fav-header {
        font-size: 2rem;
    }
    
}